In [6]:
#importando as bibliotecas
import pandas as pd 
import numpy as np

In [5]:
#importando as fontes de dados
df_operacoes=pd.read_csv('OPERAÇÕES.csv', delimiter=';')
df_eventos=pd.read_csv('EVENTOS.csv', delimiter=';')

In [68]:
#cruzamento as duas tabelas
df_consolidado=pd.merge(df_operacoes,df_eventos, on='ID_OPERAÇÃO', how='left')
#transformando a coluna valor em numero
df_consolidado["VALOR"]=df_consolidado["VALOR"].apply(lambda x:str(x).replace(".",""))
df_consolidado["VALOR"]=df_consolidado["VALOR"].apply(lambda x:str(x).replace(",","."))
df_consolidado["VALOR"]=df_consolidado["VALOR"].astype("float64")
#transformando a coluna Data em um campo de data
df_consolidado["Data"]=pd.to_datetime(df_consolidado["Data"], dayfirst=True)

In [7]:
df_consolidado

NameError: name 'df_consolidado' is not defined

In [70]:
#criando tabela dinamica para obter a quantidade de operções por status
tabela_dinamica=pd.pivot_table(df_consolidado,values="ID_OPERAÇÃO",index="EVENTO", aggfunc=np.count_nonzero)
tabela_dinamica

                       ID_OPERAÇÃO
EVENTO
EM TRÂNSITO                      1
FATURADO                         3
RECEBIDO PELO CLIENTE            2

In [71]:
#criando tabela dinamica para obter a total de vendas por mës
tabela_dinamica=pd.pivot_table(df_consolidado,values="VALOR",index=pd.Grouper(freq="M", key="Data"),aggfunc=np.sum)
tabela_dinamica

              VALOR
Data
2022-09-30   2000.0
2022-10-31  11000.0
2022-11-30  15000.0

In [72]:
#criando tabela dinamica para obter a total de vendas por status
tabela_dinamica=pd.pivot_table(df_consolidado,values="VALOR",index="EVENTO", aggfunc=np.sum)
tabela_dinamica

                         VALOR
EVENTO
EM TRÂNSITO             3500.0
FATURADO               14500.0
RECEBIDO PELO CLIENTE   4000.0

In [ ]:
tabela_dinamica=pd.pivot_table(df_consolidado,valures