In [18]:
import pandas as pd 
import numpy as np

In [19]:
#lendo a nossa planilha com as informações que desejamos obter
df_cod_series=pd.read_excel('cod_series.xlsx')
df_cod_series

   Cód Nome abreviado
0   12            CDI
1   11          Selic
2  189           IGPM

In [20]:
#fazendo a requisição 
url='https://api.bcb.gov.br/dados/serie/bcdata.sgs.12/dados?formato=json'
df_api=pd.read_json(url)
df_api

            data     valor
0     06/03/1986  0.068111
1     10/03/1986  0.069028
2     12/03/1986  0.067417
3     14/03/1986  0.064584
4     17/03/1986  0.068222
...          ...       ...
8930  22/11/2021  0.029256
8931  23/11/2021  0.029256
8932  24/11/2021  0.029256
8933  25/11/2021  0.029256
8934  26/11/2021  0.029256

[8935 rows x 2 columns]

In [24]:
#Criamos um for para percorrer a os codigos da planilha, fazer a requisição na api do Banco Central e exportar essas informações para excel
for codigo in df_cod_series['Cód']:
    url=f'https://api.bcb.gov.br/dados/serie/bcdata.sgs.{codigo}/dados?formato=json'
    df_api=pd.read_json(url)
    df_api.to_excel('Indicador'+str(codigo)+'.xlsx')